/*div  {
border:1px black solid;
}*/

.menu-logo {
	display: flex;
}

.main-container {
	background: url(../img/carrot.jpg) white no-repeat center center;
	background-size: cover;
	background-position: center center;
	opacity: 1;
	visibility: inherit;
	z-index: 20;
	min-height: 100%;
}

ul {
	list-style: none;
}

#farm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px
}

#market-list {
	width: 100%;
}

.list {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	padding: 0 10%;
}

.search-box {
	margin-top: 150px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

#searchicon {
	height: 20px;
	width: 20px;
}

.search-group {
	display: flex;
	width: 100%;
	position: relative;
	&:before {
		content: "\ea2d";
		font-size: 0.84em;
		position: absolute;
		left: 1.5em;
		top: 1.1em;
		color: #898989;
	}
}

.search-input,
.button-search {
	padding: 0.6875em 2em;
}

.search-input {
	transition: background 0.25s, border-color 0.25s, color 0.25s;
	padding: 0.6875em 0.9375em 0.6875em 2.5em;
	width: 100%;
	border: solid 2px #cecfcf;
	border-right: none;
	border-radius: 2em 0 0 2em;
	background: #fff;
	box-sizing: border-box;
	&::placeholder {
		transition: color 0.25s;
		color: #abacac;
		font-size: 0.95em;
		-webkit-font-smoothing: antialias;
	}
}

input.search-input:focus {
	transition: background 0.25s, border-color 0.25s;
	background: white;
	border-color: rgba(0, 0, 0, 0.015);
	outline: none;
	&::placeholder {
		transition: color 0.25s;
		color: #898989;
	}
}

.button-search {
	transition: background 0.25s, color 0.25s;
	border: none;
	border-radius: 0 2em 2em 0;
	background: #ffce0a;
	&:hover {
		transition: background 0.25s, color 0.25s;
		background: #000;
		color: #fff;
	}
}

#dataContainer {
	position: relative;
	padding: 55px;
}

.info {
	height: 100%;
	background-color: #fcfbf7e0;
	width: 100%;
	margin-bottom: 100px;
	background-size: cover;
	background-position: center center;
}

html,
body {
	height: 100%;
	margin: 0;
}

#marketName {
	font-family: 'Montserrat', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #464a4e;
}

.addressTime {
	/*position:absolute;
	left:170px;*/
}

#scheduleStyle {
	margin-bottom: -47px;
}

#address,
#schedule,
#products {
	font-family: 'Montserrat', sans-serif;
	color: #9bb762;
	text-transform: uppercase;
	font-size: 20px;
}

p {
	font-family: 'Roboto', sans-serif;
}